.logo{
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    position: absolute;  
    left: 50%;  
    transform: translate(-50%, -50%);
}
.logoIn{
    width: 94px;
    background-color: rgb(182, 182, 182);
    height: 97px;
    border-radius: 50%;
    position: absolute;  
    transform: translate(3%, 3%);

}